* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Outfit, sans-serif;
}

body {
  background-color: hsl(217, 54%, 11%);
  position: relative;
}

.container,
.img {
  border-radius: 1rem;
}

.container {
  background-color: hsl(216, 50%, 16%);
  font-size: 1.8rem;
  max-width: 35rem;
  padding: 2.2rem;

  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.img {
  max-width: 100%;
}

.heading {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-size: 2.4rem;
}

.description {
  color: rgb(132, 154, 191);
  font-size: 1.8rem;
}

.metric {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eth,
.day_left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.eth {
  color: rgba(15, 255, 247);
}

.day_left {
  color: rgb(132, 154, 191);
}

.author {
  border-top: 1px solid rgb(132, 154, 191);
  padding-top: 2.4rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.author_img {
  width: 4rem;
  height: 4rem;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
}

.author_img img {
  width: 94%;
  height: 94%;
}

.author_text {
  color: rgb(132, 154, 191);
  font-size: 1.6rem;
}

.author_text > span {
  color: hsl(0, 0%, 100%);
}
